@charset "UTF-8";

.BJ-border-none {
    border: none;
}

.BJ-border-width-1px {
    border-width: 1px;
}

.BJ-border-width-2px {
    border-width: 2px;
}

.BJ-border-width-3px {
    border-width: 3px;
}

.BJ-border-width-4px {
    border-width: 4px;
}

.BJ-border-width-5px {
    border-width: 5px;
}

.BJ-border-width-6px {
    border-width: 6px;
}

.BJ-border-width-7px {
    border-width: 7px;
}

.BJ-border-width-8px {
    border-width: 8px;
}

.BJ-border-width-9px {
    border-width: 9px;
}


.BJ-border-style-solid {
    border-style: solid;
}

.BJ-border-style-dotted {
    border-style: dotted;
}

.BJ-border-style-dashed {
    border-style: dashed;
}

.BJ-border-color-black {
    border-color: black;
}

.BJ-border-color-white {
    border-color: white;
}

.BJ-border-color-red {
    border-color: red;
}

.BJ-border-color-green {
    border-color: green;
}

.BJ-border-color-yellow {
    border-color: yellow;
}

.BJ-border-color-blue {
    border-color: blue;
}

.BJ-border-color-light-blue {
    border-color: lightblue;
}

.BJ-border-color-light-green {
    border-color: LightGreen;
}

.BJ-border-color-peach-puff {
    border-color: peachpuff;
}

.BJ-border-color-medium-blue {
    border-color: rgb(111, 194, 221);
}

.BJ-border-color-medium-sea-green {
    border-color: mediumseagreen;
}

.BJ-border-color-orange-brown {
    border-color: #d17a22;
}

.BJ-border-radius-0 {
    border-radius: 0rem;
}

.BJ-border-radius-1 {
    border-radius: 0.5rem;
}

.BJ-border-radius-2 {
    border-radius: 1rem;
}

.BJ-border-radius-3 {
    border-radius: 1.5rem;
}

.BJ-border-radius-4 {
    border-radius: 2rem;
}

.BJ-border-radius-5 {
    border-radius: 2.5rem;
}

.BJ-border-radius-6 {
    border-radius: 3rem;
}

.BJ-border-radius-7 {
    border-radius: 3.5rem;
}

.BJ-border-radius-8 {
    border-radius: 4rem;
}

.BJ-border-radius-9 {
    border-radius: 4.5rem;
}

.BJ-table td,
.BJ-table th {
    width: 30px;
    height: auto;
    border: none;
    border: 1px solid black;
}

.BJ-table {
    border-collapse: collapse;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .BJ-border-none-in-small-mobiles {
        border: none;
    }

    .BJ-border-width-1px-in-small-mobiles {
        border-width: 1px;
    }

    .BJ-border-width-2px-in-small-mobiles {
        border-width: 2px;
    }

    .BJ-border-width-3px-in-small-mobiles {
        border-width: 3px;
    }

    .BJ-border-width-4px-in-small-mobiles {
        border-width: 4px;
    }

    .BJ-border-width-5px-in-small-mobiles {
        border-width: 5px;
    }

    .BJ-border-width-6px-in-small-mobiles {
        border-width: 6px;
    }

    .BJ-border-width-7px-in-small-mobiles {
        border-width: 7px;
    }

    .BJ-border-width-8px-in-small-mobiles {
        border-width: 8px;
    }

    .BJ-border-width-9px-in-small-mobiles {
        border-width: 9px;
    }

    .BJ-border-style-solid-in-small-mobiles {
        border-style: solid;
    }

    .BJ-border-style-dotted-in-small-mobiles {
        border-style: dotted;
    }

    .BJ-border-style-dashed-in-small-mobiles {
        border-style: dashed;
    }

    .BJ-border-color-black-in-small-mobiles {
        border-color: black;
    }

    .BJ-border-color-white-in-small-mobiles {
        border-color: white;
    }

    .BJ-border-color-red-in-small-mobiles {
        border-color: red;
    }

    .BJ-border-color-green-in-small-mobiles {
        border-color: green;
    }

    .BJ-border-color-yellow-in-small-mobiles {
        border-color: yellow;
    }

    .BJ-border-color-blue-in-small-mobiles {
        border-color: blue;
    }

    .BJ-border-color-light-blue-in-small-mobiles {
        border-color: lightblue;
    }

    .BJ-border-color-light-green-in-small-mobiles {
        border-color: LightGreen;
    }

    .BJ-border-color-peach-puff-in-small-mobiles {
        border-color: peachpuff;
    }

    .BJ-border-color-medium-blue-in-small-mobiles {
        border-color: rgb(111, 194, 221);
    }

    .BJ-border-color-medium-sea-green-in-small-mobiles {
        border-color: mediumseagreen;
    }

    .BJ-border-color-orange-brown-in-small-mobiles {
        border-color: #d17a22;
    }

    .BJ-border-radius-0-in-small-mobiles {
        border-radius: 0rem;
    }

    .BJ-border-radius-1-in-small-mobiles {
        border-radius: 0.5rem;
    }

    .BJ-border-radius-2-in-small-mobiles {
        border-radius: 1rem;
    }

    .BJ-border-radius-3-in-small-mobiles {
        border-radius: 1.5rem;
    }

    .BJ-border-radius-4-in-small-mobiles {
        border-radius: 2rem;
    }

    .BJ-border-radius-5-in-small-mobiles {
        border-radius: 2.5rem;
    }

    .BJ-border-radius-6-in-small-mobiles {
        border-radius: 3rem;
    }

    .BJ-border-radius-7-in-small-mobiles {
        border-radius: 3.5rem;
    }

    .BJ-border-radius-8-in-small-mobiles {
        border-radius: 4rem;
    }

    .BJ-border-radius-9-in-small-mobiles {
        border-radius: 4.5rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .BJ-border-none-in-medium-mobiles {
        border: none;
    }

    .BJ-border-width-1px-in-medium-mobiles {
        border-width: 1px;
    }

    .BJ-border-width-2px-in-medium-mobiles {
        border-width: 2px;
    }

    .BJ-border-width-3px-in-medium-mobiles {
        border-width: 3px;
    }

    .BJ-border-width-4px-in-medium-mobiles {
        border-width: 4px;
    }

    .BJ-border-width-5px-in-medium-mobiles {
        border-width: 5px;
    }

    .BJ-border-width-6px-in-medium-mobiles {
        border-width: 6px;
    }

    .BJ-border-width-7px-in-medium-mobiles {
        border-width: 7px;
    }

    .BJ-border-width-8px-in-medium-mobiles {
        border-width: 8px;
    }

    .BJ-border-width-9px-in-medium-mobiles {
        border-width: 9px;
    }

    .BJ-border-style-solid-in-medium-mobiles {
        border-style: solid;
    }

    .BJ-border-style-dotted-in-medium-mobiles {
        border-style: dotted;
    }

    .BJ-border-style-dashed-in-medium-mobiles {
        border-style: dashed;
    }

    .BJ-border-color-black-in-medium-mobiles {
        border-color: black;
    }

    .BJ-border-color-white-in-medium-mobiles {
        border-color: white;
    }

    .BJ-border-color-red-in-medium-mobiles {
        border-color: red;
    }

    .BJ-border-color-green-in-medium-mobiles {
        border-color: green;
    }

    .BJ-border-color-yellow-in-medium-mobiles {
        border-color: yellow;
    }

    .BJ-border-color-blue-in-medium-mobiles {
        border-color: blue;
    }

    .BJ-border-color-light-blue-in-medium-mobiles {
        border-color: lightblue;
    }

    .BJ-border-color-light-green-in-medium-mobiles {
        border-color: LightGreen;
    }

    .BJ-border-color-peach-puff-in-medium-mobiles {
        border-color: peachpuff;
    }

    .BJ-border-color-medium-blue-in-medium-mobiles {
        border-color: rgb(111, 194, 221);
    }

    .BJ-border-color-medium-sea-green-in-medium-mobiles {
        border-color: mediumseagreen;
    }

    .BJ-border-color-orange-brown-in-medium-mobiles {
        border-color: #d17a22;
    }

    .BJ-border-radius-0-in-medium-mobiles {
        border-radius: 0rem;
    }

    .BJ-border-radius-1-in-medium-mobiles {
        border-radius: 0.5rem;
    }

    .BJ-border-radius-2-in-medium-mobiles {
        border-radius: 1rem;
    }

    .BJ-border-radius-3-in-medium-mobiles {
        border-radius: 1.5rem;
    }

    .BJ-border-radius-4-in-medium-mobiles {
        border-radius: 2rem;
    }

    .BJ-border-radius-5-in-medium-mobiles {
        border-radius: 2.5rem;
    }

    .BJ-border-radius-6-in-medium-mobiles {
        border-radius: 3rem;
    }

    .BJ-border-radius-7-in-medium-mobiles {
        border-radius: 3.5rem;
    }

    .BJ-border-radius-8-in-medium-mobiles {
        border-radius: 4rem;
    }

    .BJ-border-radius-9-in-medium-mobiles {
        border-radius: 4.5rem;
    }
}

@media screen and (min-width: 424px) and (max-width: 767px) {
    .BJ-border-none-in-large-mobiles {
        border: none;
    }

    .BJ-border-width-1px-in-large-mobiles {
        border-width: 1px;
    }

    .BJ-border-width-2px-in-large-mobiles {
        border-width: 2px;
    }

    .BJ-border-width-3px-in-large-mobiles {
        border-width: 3px;
    }

    .BJ-border-width-4px-in-large-mobiles {
        border-width: 4px;
    }

    .BJ-border-width-5px-in-large-mobiles {
        border-width: 5px;
    }

    .BJ-border-width-6px-in-large-mobiles {
        border-width: 6px;
    }

    .BJ-border-width-7px-in-large-mobiles {
        border-width: 7px;
    }

    .BJ-border-width-8px-in-large-mobiles {
        border-width: 8px;
    }

    .BJ-border-width-9px-in-large-mobiles {
        border-width: 9px;
    }

    .BJ-border-style-solid-in-large-mobiles {
        border-style: solid;
    }

    .BJ-border-style-dotted-in-large-mobiles {
        border-style: dotted;
    }

    .BJ-border-style-dashed-in-large-mobiles {
        border-style: dashed;
    }

    .BJ-border-color-black-in-large-mobiles {
        border-color: black;
    }

    .BJ-border-color-white-in-large-mobiles {
        border-color: white;
    }

    .BJ-border-color-red-in-large-mobiles {
        border-color: red;
    }

    .BJ-border-color-green-in-large-mobiles {
        border-color: green;
    }

    .BJ-border-color-yellow-in-large-mobiles {
        border-color: yellow;
    }

    .BJ-border-color-blue-in-large-mobiles {
        border-color: blue;
    }

    .BJ-border-color-light-blue-in-large-mobiles {
        border-color: lightblue;
    }

    .BJ-border-color-light-green-in-large-mobiles {
        border-color: LightGreen;
    }

    .BJ-border-color-peach-puff-in-large-mobiles {
        border-color: peachpuff;
    }

    .BJ-border-color-medium-blue-in-large-mobiles {
        border-color: rgb(111, 194, 221);
    }

    .BJ-border-color-medium-sea-green-in-large-mobiles {
        border-color: mediumseagreen;
    }

    .BJ-border-color-orange-brown-in-large-mobiles {
        border-color: #d17a22;
    }

    .BJ-border-radius-0-in-large-mobiles {
        border-radius: 0rem;
    }

    .BJ-border-radius-1-in-large-mobiles {
        border-radius: 0.5rem;
    }

    .BJ-border-radius-2-in-large-mobiles {
        border-radius: 1rem;
    }

    .BJ-border-radius-3-in-large-mobiles {
        border-radius: 1.5rem;
    }

    .BJ-border-radius-4-in-large-mobiles {
        border-radius: 2rem;
    }

    .BJ-border-radius-5-in-large-mobiles {
        border-radius: 2.5rem;
    }

    .BJ-border-radius-6-in-large-mobiles {
        border-radius: 3rem;
    }

    .BJ-border-radius-7-in-large-mobiles {
        border-radius: 3.5rem;
    }

    .BJ-border-radius-8-in-large-mobiles {
        border-radius: 4rem;
    }

    .BJ-border-radius-9-in-large-mobiles {
        border-radius: 4.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .BJ-border-none-in-tablets {
        border: none;
    }

    .BJ-border-width-1px-in-tablets {
        border-width: 1px;
    }

    .BJ-border-width-2px-in-tablets {
        border-width: 2px;
    }

    .BJ-border-width-3px-in-tablets {
        border-width: 3px;
    }

    .BJ-border-width-4px-in-tablets {
        border-width: 4px;
    }

    .BJ-border-width-5px-in-tablets {
        border-width: 5px;
    }

    .BJ-border-width-6px-in-tablets {
        border-width: 6px;
    }

    .BJ-border-width-7px-in-tablets {
        border-width: 7px;
    }

    .BJ-border-width-8px-in-tablets {
        border-width: 8px;
    }

    .BJ-border-width-9px-in-tablets {
        border-width: 9px;
    }

    .BJ-border-style-solid-in-tablets {
        border-style: solid;
    }

    .BJ-border-style-dotted-in-tablets {
        border-style: dotted;
    }

    .BJ-border-style-dashed-in-tablets {
        border-style: dashed;
    }

    .BJ-border-color-black-in-tablets {
        border-color: black;
    }

    .BJ-border-color-white-in-tablets {
        border-color: white;
    }

    .BJ-border-color-red-in-tablets {
        border-color: red;
    }

    .BJ-border-color-green-in-tablets {
        border-color: green;
    }

    .BJ-border-color-yellow-in-tablets {
        border-color: yellow;
    }

    .BJ-border-color-blue-in-tablets {
        border-color: blue;
    }

    .BJ-border-color-light-blue-in-tablets {
        border-color: lightblue;
    }

    .BJ-border-color-light-green-in-tablets {
        border-color: LightGreen;
    }

    .BJ-border-color-peach-puff-in-tablets {
        border-color: peachpuff;
    }

    .BJ-border-color-medium-blue-in-tablets {
        border-color: rgb(111, 194, 221);
    }

    .BJ-border-color-medium-sea-green-in-tablets {
        border-color: mediumseagreen;
    }

    .BJ-border-color-orange-brown-in-tablets {
        border-color: #d17a22;
    }

    .BJ-border-radius-0-in-tablets {
        border-radius: 0rem;
    }

    .BJ-border-radius-1-in-tablets {
        border-radius: 0.5rem;
    }

    .BJ-border-radius-2-in-tablets {
        border-radius: 1rem;
    }

    .BJ-border-radius-3-in-tablets {
        border-radius: 1.5rem;
    }

    .BJ-border-radius-4-in-tablets {
        border-radius: 2rem;
    }

    .BJ-border-radius-5-in-tablets {
        border-radius: 2.5rem;
    }

    .BJ-border-radius-6-in-tablets {
        border-radius: 3rem;
    }

    .BJ-border-radius-7-in-tablets {
        border-radius: 3.5rem;
    }

    .BJ-border-radius-8-in-tablets {
        border-radius: 4rem;
    }

    .BJ-border-radius-9-in-tablets {
        border-radius: 4.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .BJ-border-none-in-laptops {
        border: none;
    }

    .BJ-border-width-1px-in-laptops {
        border-width: 1px;
    }

    .BJ-border-width-2px-in-laptops {
        border-width: 2px;
    }

    .BJ-border-width-3px-in-laptops {
        border-width: 3px;
    }

    .BJ-border-width-4px-in-laptops {
        border-width: 4px;
    }

    .BJ-border-width-5px-in-laptops {
        border-width: 5px;
    }

    .BJ-border-width-6px-in-laptops {
        border-width: 6px;
    }

    .BJ-border-width-7px-in-laptops {
        border-width: 7px;
    }

    .BJ-border-width-8px-in-laptops {
        border-width: 8px;
    }

    .BJ-border-width-9px-in-laptops {
        border-width: 9px;
    }

    .BJ-border-style-solid-in-laptops {
        border-style: solid;
    }

    .BJ-border-style-dotted-in-laptops {
        border-style: dotted;
    }

    .BJ-border-style-dashed-in-laptops {
        border-style: dashed;
    }

    .BJ-border-color-black-in-laptops {
        border-color: black;
    }

    .BJ-border-color-white-in-laptops {
        border-color: white;
    }

    .BJ-border-color-red-in-laptops {
        border-color: red;
    }

    .BJ-border-color-green-in-laptops {
        border-color: green;
    }

    .BJ-border-color-yellow-in-laptops {
        border-color: yellow;
    }

    .BJ-border-color-blue-in-laptops {
        border-color: blue;
    }

    .BJ-border-color-light-blue-in-laptops {
        border-color: lightblue;
    }

    .BJ-border-color-light-green-in-laptops {
        border-color: LightGreen;
    }

    .BJ-border-color-peach-puff-in-laptops {
        border-color: peachpuff;
    }

    .BJ-border-color-medium-blue-in-laptops {
        border-color: rgb(111, 194, 221);
    }

    .BJ-border-color-medium-sea-green-in-laptops {
        border-color: mediumseagreen;
    }

    .BJ-border-color-orange-brown-in-laptops {
        border-color: #d17a22;
    }

    .BJ-border-radius-0-in-laptops {
        border-radius: 0rem;
    }

    .BJ-border-radius-1-in-laptops {
        border-radius: 0.5rem;
    }

    .BJ-border-radius-2-in-laptops {
        border-radius: 1rem;
    }

    .BJ-border-radius-3-in-laptops {
        border-radius: 1.5rem;
    }

    .BJ-border-radius-4-in-laptops {
        border-radius: 2rem;
    }

    .BJ-border-radius-5-in-laptops {
        border-radius: 2.5rem;
    }

    .BJ-border-radius-6-in-laptops {
        border-radius: 3rem;
    }

    .BJ-border-radius-7-in-laptops {
        border-radius: 3.5rem;
    }

    .BJ-border-radius-8-in-laptops {
        border-radius: 4rem;
    }

    .BJ-border-radius-9-in-laptops {
        border-radius: 4.5rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .BJ-border-none-in-large-laptops {
        border: none;
    }

    .BJ-border-width-1px-in-large-laptops {
        border-width: 1px;
    }

    .BJ-border-width-2px-in-large-laptops {
        border-width: 2px;
    }

    .BJ-border-width-3px-in-large-laptops {
        border-width: 3px;
    }

    .BJ-border-width-4px-in-large-laptops {
        border-width: 4px;
    }

    .BJ-border-width-5px-in-large-laptops {
        border-width: 5px;
    }

    .BJ-border-width-6px-in-large-laptops {
        border-width: 6px;
    }

    .BJ-border-width-7px-in-large-laptops {
        border-width: 7px;
    }

    .BJ-border-width-8px-in-large-laptops {
        border-width: 8px;
    }

    .BJ-border-width-9px-in-large-laptops {
        border-width: 9px;
    }

    .BJ-border-style-solid-in-large-laptops {
        border-style: solid;
    }

    .BJ-border-style-dotted-in-large-laptops {
        border-style: dotted;
    }

    .BJ-border-style-dashed-in-large-laptops {
        border-style: dashed;
    }

    .BJ-border-color-black-in-large-laptops {
        border-color: black;
    }

    .BJ-border-color-white-in-large-laptops {
        border-color: white;
    }

    .BJ-border-color-red-in-large-laptops {
        border-color: red;
    }

    .BJ-border-color-green-in-large-laptops {
        border-color: green;
    }

    .BJ-border-color-yellow-in-large-laptops {
        border-color: yellow;
    }

    .BJ-border-color-blue-in-large-laptops {
        border-color: blue;
    }

    .BJ-border-color-light-blue-in-large-laptops {
        border-color: lightblue;
    }

    .BJ-border-color-light-green-in-large-laptops {
        border-color: LightGreen;
    }

    .BJ-border-color-peach-puff-in-large-laptops {
        border-color: peachpuff;
    }

    .BJ-border-color-medium-blue-in-large-laptops {
        border-color: rgb(111, 194, 221);
    }

    .BJ-border-color-medium-sea-green-in-large-laptops {
        border-color: mediumseagreen;
    }

    .BJ-border-color-orange-brown-in-large-laptops {
        border-color: #d17a22;
    }

    .BJ-border-radius-0-in-large-laptops {
        border-radius: 0rem;
    }

    .BJ-border-radius-1-in-large-laptops {
        border-radius: 0.5rem;
    }

    .BJ-border-radius-2-in-large-laptops {
        border-radius: 1rem;
    }

    .BJ-border-radius-3-in-large-laptops {
        border-radius: 1.5rem;
    }

    .BJ-border-radius-4-in-large-laptops {
        border-radius: 2rem;
    }

    .BJ-border-radius-5-in-large-laptops {
        border-radius: 2.5rem;
    }

    .BJ-border-radius-6-in-large-laptops {
        border-radius: 3rem;
    }

    .BJ-border-radius-7-in-large-laptops {
        border-radius: 3.5rem;
    }

    .BJ-border-radius-8-in-large-laptops {
        border-radius: 4rem;
    }

    .BJ-border-radius-9-in-large-laptops {
        border-radius: 4.5rem;
    }
}

@media screen and (min-width: 2560px) and (max-width: 9999px) {
    .BJ-border-none-in-4ks {
        border: none;
    }

    .BJ-border-width-1px-in-4ks {
        border-width: 1px;
    }

    .BJ-border-width-2px-in-4ks {
        border-width: 2px;
    }

    .BJ-border-width-3px-in-4ks {
        border-width: 3px;
    }

    .BJ-border-width-4px-in-4ks {
        border-width: 4px;
    }

    .BJ-border-width-5px-in-4ks {
        border-width: 5px;
    }

    .BJ-border-width-6px-in-4ks {
        border-width: 6px;
    }

    .BJ-border-width-7px-in-4ks {
        border-width: 7px;
    }

    .BJ-border-width-8px-in-4ks {
        border-width: 8px;
    }

    .BJ-border-width-9px-in-4ks {
        border-width: 9px;
    }

    .BJ-border-style-solid-in-4ks {
        border-style: solid;
    }

    .BJ-border-style-dotted-in-4ks {
        border-style: dotted;
    }

    .BJ-border-style-dashed-in-4ks {
        border-style: dashed;
    }

    .BJ-border-color-black-in-4ks {
        border-color: black;
    }

    .BJ-border-color-white-in-4ks {
        border-color: white;
    }

    .BJ-border-color-red-in-4ks {
        border-color: red;
    }

    .BJ-border-color-green-in-4ks {
        border-color: green;
    }

    .BJ-border-color-yellow-in-4ks {
        border-color: yellow;
    }

    .BJ-border-color-blue-in-4ks {
        border-color: blue;
    }

    .BJ-border-color-light-blue-in-4ks {
        border-color: lightblue;
    }

    .BJ-border-color-light-green-in-4ks {
        border-color: LightGreen;
    }

    .BJ-border-color-peach-puff-in-4ks {
        border-color: peachpuff;
    }

    .BJ-border-color-medium-blue-in-4ks {
        border-color: rgb(111, 194, 221);
    }

    .BJ-border-color-medium-sea-green-in-4ks {
        border-color: mediumseagreen;
    }

    .BJ-border-color-orange-brown-in-4ks {
        border-color: #d17a22;
    }

    .BJ-border-radius-0-in-4ks {
        border-radius: 0rem;
    }

    .BJ-border-radius-1-in-4ks {
        border-radius: 0.5rem;
    }

    .BJ-border-radius-2-in-4ks {
        border-radius: 1rem;
    }

    .BJ-border-radius-3-in-4ks {
        border-radius: 1.5rem;
    }

    .BJ-border-radius-4-in-4ks {
        border-radius: 2rem;
    }

    .BJ-border-radius-5-in-4ks {
        border-radius: 2.5rem;
    }

    .BJ-border-radius-6-in-4ks {
        border-radius: 3rem;
    }

    .BJ-border-radius-7-in-4ks {
        border-radius: 3.5rem;
    }

    .BJ-border-radius-8-in-4ks {
        border-radius: 4rem;
    }

    .BJ-border-radius-9-in-4ks {
        border-radius: 4.5rem;
    }
}