@charset "UTF-8";

.DJ-display-flex {
  display: flex;
}

.DJ-display-block {
  display: block;
}

.DJ-display-inline {
  display: inline;
}

.DJ-flex-direction-column {
  flex-direction: column;
}

.DJ-display-inline-flex {
  display: inline-flex;
}

.DJ-display-inline-block {
  display: inline-block;
}

.DJ-display-inline-table {
  display: inline-table;
}

.DJ-display-inline-flexbox {
  display: inline-flexbox;
}

.DJ-flex-direction-row {
  flex-direction: row;
}

.DJ-justify-content-space-between {
  justify-content: space-between;
}

.DJ-justify-content-space-around {
  justify-content: space-around;
}

.DJ-justify-content-space-evenly {
  justify-content: space-evenly;
}

.DJ-justify-content-center {
  justify-content: center;
}

.DJ-justify-content-flex-start {
  justify-content: flex-start;
}

.DJ-justify-content-flex-end {
  justify-content: flex-end;
}

.DJ-align-items-center {
  align-items: center;
}

.DJ-align-items-start {
  align-items: flex-start;
}

.DJ-align-items-end {
  align-items: flex-end;
}

.DJ-flex-wrap {
  flex-wrap: wrap;
}

.DJ-flex-no-wrap {
  flex-wrap: nowrap;
}

.DJ-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .DJ-display-flex-in-small-mobiles {
    display: flex;
  }

  .DJ-display-block-in-small-mobiles {
    display: block;
  }

  .DJ-display-inline-in-small-mobiles {
    display: inline;
  }

  .DJ-flex-direction-column-in-small-mobiles {
    flex-direction: column;
  }

  .DJ-flex-direction-row-in-small-mobiles {
    flex-direction: row;
  }

  .DJ-justify-content-space-between-in-small-mobiles {
    justify-content: space-between;
  }

  .DJ-justify-content-space-around-in-small-mobiles {
    justify-content: space-around;
  }

  .DJ-justify-content-space-evenly-in-small-mobiles {
    justify-content: space-evenly;
  }

  .DJ-justify-content-center-in-small-mobiles {
    justify-content: center;
  }

  .DJ-justify-content-flex-start-in-small-mobiles {
    justify-content: flex-start;
  }

  .DJ-justify-content-flex-end-in-small-mobiles {
    justify-content: flex-end;
  }

  .DJ-align-items-center-in-small-mobiles {
    align-items: center;
  }

  .DJ-align-items-start-in-small-mobiles {
    align-items: flex-start;
  }

  .DJ-align-items-end-in-small-mobiles {
    align-items: flex-end;
  }

  .DJ-flex-wrap-in-small-mobiles {
    flex-wrap: wrap;
  }

  .DJ-flex-no-wrap-in-small-mobiles {
    flex-wrap: nowrap;
  }

  .DJ-flex-wrap-reverse-in-small-mobiles {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .DJ-display-flex-in-medium-mobiles {
    display: flex;
  }

  .DJ-display-block-in-medium-mobiles {
    display: block;
  }

  .DJ-display-inline-in-medium-mobiles {
    display: inline;
  }

  .DJ-flex-direction-column-in-medium-mobiles {
    flex-direction: column;
  }

  .DJ-flex-direction-row-in-medium-mobiles {
    flex-direction: row;
  }

  .DJ-justify-content-space-between-in-medium-mobiles {
    justify-content: space-between;
  }

  .DJ-justify-content-space-around-in-medium-mobiles {
    justify-content: space-around;
  }

  .DJ-justify-content-space-evenly-in-medium-mobiles {
    justify-content: space-evenly;
  }

  .DJ-justify-content-center-in-medium-mobiles {
    justify-content: center;
  }

  .DJ-justify-content-flex-start-in-medium-mobiles {
    justify-content: flex-start;
  }

  .DJ-justify-content-flex-end-in-medium-mobiles {
    justify-content: flex-end;
  }

  .DJ-align-items-center-in-medium-mobiles {
    align-items: center;
  }

  .DJ-align-items-start-in-medium-mobiles {
    align-items: flex-start;
  }

  .DJ-align-items-end-in-medium-mobiles {
    align-items: flex-end;
  }

  .DJ-flex-wrap-in-medium-mobiles {
    flex-wrap: wrap;
  }

  .DJ-flex-no-wrap-in-medium-mobiles {
    flex-wrap: nowrap;
  }

  .DJ-flex-wrap-reverse-in-medium-mobiles {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 424px) and (max-width: 767px) {
  .DJ-display-flex-in-large-mobiles {
    display: flex;
  }

  .DJ-display-block-in-large-mobiles {
    display: block;
  }

  .DJ-display-inline-in-large-mobiles {
    display: inline;
  }

  .DJ-flex-direction-column-in-large-mobiles {
    flex-direction: column;
  }

  .DJ-flex-direction-row-in-large-mobiles {
    flex-direction: row;
  }

  .DJ-justify-content-space-between-in-large-mobiles {
    justify-content: space-between;
  }

  .DJ-justify-content-space-around-in-large-mobiles {
    justify-content: space-around;
  }

  .DJ-justify-content-space-evenly-in-large-mobiles {
    justify-content: space-evenly;
  }

  .DJ-justify-content-center-in-large-mobiles {
    justify-content: center;
  }

  .DJ-justify-content-flex-start-in-large-mobiles {
    justify-content: flex-start;
  }

  .DJ-justify-content-flex-end-in-large-mobiles {
    justify-content: flex-end;
  }

  .DJ-align-items-center-in-large-mobiles {
    align-items: center;
  }

  .DJ-align-items-start-in-large-mobiles {
    align-items: flex-start;
  }

  .DJ-align-items-end-in-large-mobiles {
    align-items: flex-end;
  }

  .DJ-flex-wrap-in-large-mobiles {
    flex-wrap: wrap;
  }

  .DJ-flex-no-wrap-in-large-mobiles {
    flex-wrap: nowrap;
  }

  .DJ-flex-wrap-reverse-in-large-mobiles {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .DJ-display-flex-in-tablets {
    display: flex;
  }

  .DJ-display-block-in-tablets {
    display: block;
  }

  .DJ-display-inline-in-tablets {
    display: inline;
  }

  .DJ-flex-direction-column-in-tablets {
    flex-direction: column;
  }

  .DJ-flex-direction-row-in-tablets {
    flex-direction: row;
  }

  .DJ-justify-content-space-between-in-tablets {
    justify-content: space-between;
  }

  .DJ-justify-content-space-around-in-tablets {
    justify-content: space-around;
  }

  .DJ-justify-content-space-evenly-in-tablets {
    justify-content: space-evenly;
  }

  .DJ-justify-content-center-in-tablets {
    justify-content: center;
  }

  .DJ-justify-content-flex-start-in-tablets {
    justify-content: flex-start;
  }

  .DJ-justify-content-flex-end-in-tablets {
    justify-content: flex-end;
  }

  .DJ-align-items-center-in-tablets {
    align-items: center;
  }

  .DJ-align-items-start-in-tablets {
    align-items: flex-start;
  }

  .DJ-align-items-end-in-tablets {
    align-items: flex-end;
  }

  .DJ-flex-wrap-in-tablets {
    flex-wrap: wrap;
  }

  .DJ-flex-no-wrap-in-tablets {
    flex-wrap: nowrap;
  }

  .DJ-flex-wrap-reverse-in-tablets {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .DJ-display-flex-in-laptops {
    display: flex;
  }

  .DJ-display-block-in-laptops {
    display: block;
  }

  .DJ-display-inline-in-laptops {
    display: inline;
  }

  .DJ-flex-direction-column-in-laptops {
    flex-direction: column;
  }

  .DJ-flex-direction-row-in-laptops {
    flex-direction: row;
  }

  .DJ-justify-content-space-between-in-laptops {
    justify-content: space-between;
  }

  .DJ-justify-content-space-around-in-laptops {
    justify-content: space-around;
  }

  .DJ-justify-content-space-evenly-in-laptops {
    justify-content: space-evenly;
  }

  .DJ-justify-content-center-in-laptops {
    justify-content: center;
  }

  .DJ-justify-content-flex-start-in-laptops {
    justify-content: flex-start;
  }

  .DJ-justify-content-flex-end-in-laptops {
    justify-content: flex-end;
  }

  .DJ-align-items-center-in-laptops {
    align-items: center;
  }

  .DJ-align-items-start-in-laptops {
    align-items: flex-start;
  }

  .DJ-align-items-end-in-laptops {
    align-items: flex-end;
  }

  .DJ-flex-wrap-in-laptops {
    flex-wrap: wrap;
  }

  .DJ-flex-no-wrap-in-laptops {
    flex-wrap: nowrap;
  }

  .DJ-flex-wrap-reverse-in-laptops {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .DJ-display-flex-in-large-laptops {
    display: flex;
  }

  .DJ-display-block-in-large-laptops {
    display: block;
  }

  .DJ-display-inline-in-large-laptops {
    display: inline;
  }

  .DJ-flex-direction-column-in-large-laptops {
    flex-direction: column;
  }

  .DJ-flex-direction-row-in-large-laptops {
    flex-direction: row;
  }

  .DJ-justify-content-space-between-in-large-laptops {
    justify-content: space-between;
  }

  .DJ-justify-content-space-around-in-large-laptops {
    justify-content: space-around;
  }

  .DJ-justify-content-space-evenly-in-large-laptops {
    justify-content: space-evenly;
  }

  .DJ-justify-content-center-in-large-laptops {
    justify-content: center;
  }

  .DJ-justify-content-flex-start-in-large-laptops {
    justify-content: flex-start;
  }

  .DJ-justify-content-flex-end-in-large-laptops {
    justify-content: flex-end;
  }

  .DJ-align-items-center-in-large-laptops {
    align-items: center;
  }

  .DJ-align-items-start-in-large-laptops {
    align-items: flex-start;
  }

  .DJ-align-items-end-in-large-laptops {
    align-items: flex-end;
  }

  .DJ-flex-wrap-in-large-laptops {
    flex-wrap: wrap;
  }

  .DJ-flex-no-wrap-in-large-laptops {
    flex-wrap: nowrap;
  }

  .DJ-flex-wrap-reverse-in-large-laptops {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 2560px) and (max-width: 9999px) {
  .DJ-display-flex-in-4ks {
    display: flex;
  }

  .DJ-display-block-in-4ks {
    display: block;
  }

  .DJ-display-inline-in-4ks {
    display: inline;
  }

  .DJ-flex-direction-column-in-4ks {
    flex-direction: column;
  }

  .DJ-flex-direction-row-in-4ks {
    flex-direction: row;
  }

  .DJ-justify-content-space-between-in-4ks {
    justify-content: space-between;
  }

  .DJ-justify-content-space-around-in-4ks {
    justify-content: space-around;
  }

  .DJ-justify-content-space-evenly-in-4ks {
    justify-content: space-evenly;
  }

  .DJ-justify-content-center-in-4ks {
    justify-content: center;
  }

  .DJ-justify-content-flex-start-in-4ks {
    justify-content: flex-start;
  }

  .DJ-justify-content-flex-end-in-4ks {
    justify-content: flex-end;
  }

  .DJ-align-items-center-in-4ks {
    align-items: center;
  }

  .DJ-align-items-start-in-4ks {
    align-items: flex-start;
  }

  .DJ-align-items-end-in-4ks {
    align-items: flex-end;
  }

  .DJ-flex-wrap-in-4ks {
    flex-wrap: wrap;
  }

  .DJ-flex-no-wrap-in-4ks {
    flex-wrap: nowrap;
  }

  .DJ-flex-wrap-reverse-in-4ks {
    flex-wrap: wrap-reverse;
  }
}