@charset "UTF-8";

.EJ-reset {
  all: unset;
}

.EJ-revert {
  all: revert;
}

.EJ-positioned {
  position: relative;
}

.EJ-z-max {
  z-index: 99999;
}

.EJ-force {
  all: unset !important;
}

.EJ-force-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.EJ-debug {
  outline: 2px dashed red !important;
}

.EJ-debug-bg {
  background: rgba(255, 0, 0, 0.7) !important;
}
