.BJ-border-width-1px{
    border-width: 1px;
}
.BJ-border-style-solid{
    border-style: solid;
}
.BJ-border-color-black{
    border-color: black;
}
.CJ-color-black{
  color: var(--cj-black);
}
.DJ-display-flex{
  display: flex;
}
.DJ-display-block{
  display: block;
}
.DJ-justify-content-space-around{
  justify-content: space-around;
}
.DJ-align-items-center{
  align-items: center;
}
.DJ-flex-wrap{
  flex-wrap: wrap;
}
.FJ-size-large{
    font-size: large;
}
.FJ-size-larger{
    font-size: larger;
}
.FJ-size-xx-large{
    font-size: xx-large;
}
.FJ-font-Verdana{
    font-family: Verdana;
}
.GJ-grid-body{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav" "content content content content content content content content content content empty sidebar" "footer footer footer footer footer footer footer footer footer footer footer footer";
}
.GJ-grid-area-nav{
  grid-area: nav;
}
.GJ-grid-area-content{
  grid-area: content;
}
.GJ-grid-area-footer{
  grid-area: footer;
}
.PJ-padding-0{
    padding: 0rem;
  }
.PJ-padding-2{
    padding: 0.5rem;
  }
.PJ-padding-4{
    padding: 1rem;
  }
.PJ-margin-0{
    margin: 0rem;
  }
.PJ-margin-bottom-2{
    margin-bottom: 0.5rem;
  }
.PJ-margin-bottom-4{
    margin-bottom: 1rem;
  }
.PJ-margin-left-4{
    margin-left: 1rem;
  }
